.info-container {
  background-color: #edf1f1;
}

.info-container p {
  padding: 1rem;
  text-align: justify;
}

.cm-line.current-program-counter,
.cm-line.error-highlighting {
  background-color: #8c2c34 !important;
}

.cm-activeLine.current-program-counter,
.cm-activeLine.error-highlighting {
  background-color: #90313a !important;
}
