.lcd-component {
  width: 100%;
  height: 100%;
  background-color: rgb(33, 37, 41);
  border: 0.3rem solid white;
}

.lcd-component .lcd-screen {
  position: relative;
  width: 100%;
  height: 80%;
  background-color: rgb(255, 255, 200);
}

.lcd-component .lcd-color,
.lcd-component .lcd-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lcd-component .lcd-color {
  opacity: 0.7;
}

.lcd-component .lcd-text {
  font-family: 'Consolas', 'Monaco', monospace;
  padding: 0.25rem;
}

.lcd-component .lcd-line {
  width: 100%;
  height: 50%;
  display: inline-flex;
  justify-content: start;
  align-items: center;
}

.lcd-component .lcd-char {
  width: 5%;
}
