.dip-switch-component {
  width: 100%;
  height: 100%;
  display: flex;
}

.dip-switch-component .dip-switch {
  flex: 1;
  padding: 0.1rem;
}

.dip-switch-component .dip-switch .switch {
  height: 70%;
  border: 0.1rem solid lightgray;
  --background-color: rgb(33, 37, 41);
  cursor: pointer;
}

.dip-switch-component .dip-switch .switch.off {
  background: linear-gradient(0deg, var(--background-color) 50%, lightgray 50%);
}

.dip-switch-component .dip-switch .switch.on {
  background: linear-gradient(
    180deg,
    var(--background-color) 50%,
    lightgray 50%
  );
}

.dip-switch-component .label {
  font-size: 0.5rem;
  font-family: 'Consolas', 'Monaco', monospace;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
