.led-component {
  width: 100%;
  height: 100%;
}

.led-component .leds {
  width: 100%;
  height: 70%;
  display: flex;
}

.led-component .led {
  flex: 1;
  border: 0.2rem solid white;
  background: lightgray;
}

.led-component .led.on {
  background: rgb(255, 255, 140);
}

.led-component .label {
  font-size: 0.5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: monospace;
}
