.status-flags-container {
  background-color: #eaf3ec;
  border-radius: 10px;
  border-style: none;
  margin-top: 1em;
  width: 12rem;
}

.status-flags-container > .row > .col {
  text-align: center;
}

.col-md-auto {
  width: 3rem;
  text-align: center;
}

.status-flags-container > .row {
  height: 2rem;
}
