.register-container {
  background-color: var(--background-color);
  border-radius: 10px;
  border-style: none;
  margin-top: 3em;
  padding-top: 0.75em;
  height: 35.8rem;
}

.register {
  height: 25rem;
  font-family: monospace;
}

.register > .row {
  padding-top: 0.2rem;
  border-top: 1px solid lightgrey;
}

.register > .row > .col-sm-4 {
  font-weight: bold;
}
