.rotaryswitch-container {
}

.rotaryswitch {
  alignment: center;
  color: black;
}

.rotaryswitch-button {
  padding: 30px;
  border-radius: 50%;
  position:absolute;
}


.rotaryswitch-canvas {
  border: 1px solid black;
  width: 120px;
  height: 70px;
  border-radius: 10%;
  position:relative;

}

.rotary-display {
  text-align: left;
  color: black;
}