.memory-container {
  background-color: #edf1f1;
  border-radius: 10px;
  border-style: none;
  margin-top: 3em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 1em;
  font-size: 14px;
  width: 40em;
}

.search-container {
  width: 20em;
  align-content: end;
  float: right;
  padding-right: 1em;
}

.input-group-text {
  padding: 0.65rem 0.65rem;
}

.memory-table {
  gap: 10px;
  height: 10rem;
  line-height: 20px;
  column-gap: 5px;
  row-gap: 5px;
}

.memory-topbar {
  white-space: nowrap;
}

.address {
  font-family: monospace;
}

.memory-entry {
  position: relative;
}

.memory-cell-hex {
  width: 40%;
}

.title {
  text-indent: 0.75em;
}
